{% extends 'base.html' %}
{% block head %}

<form method="post">
    {% csrf_token %}
    <div>Renouvellement mot de passe</div>
    <div class="form-elem">
        <div>Veuillez saisir votre e-mail :</div>
        <input type="text" id="email" name="email" />
    </div>
    <div class="form-elem">
        <div>Veuillez saisir votre nouveau mot de passe :</div>
        <input type="text" id="newpass" name="newpass" />
    </div>
    <div class="form-elem">
        <div>Veuillez confirmer votre mot de passe :</div>
        <input type="text" id="newpasstwo" name="newpasstwo" />
    </div>
    {% if error %}
    <small style="color: red;">
        {{ error }}
    </small>
    {% endif %}

    <div class="form-elem">
        <input class="valForm" type="submit" value="valider" />
    </div>
</form>

{% endblock %}