{% extends 'base.html' %}
{% block head %}

<p>
    
    Cette application est hébergé sur Heroku. <br>
    Elle est disponible à cette <a href="https://nutellaapp.herokuapp.com/">adresse.</a> <br>
    Le template utilisé est disponible à cette <a href="https://startbootstrap.com/template-overviews/creative/">adresse.</a> <br> 
    La chartre graphique est disponible à cette <a href="https://app.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide#/introduction/Notre-identité">adresse</a>.
    <a href=""></a>
</p>
{% endblock %}